<mat-toolbar class="header" color="primary">
    
        <div class="logo">
          <img src="assets\images\Trainease Logo.png" alt="Your Logo">
        </div>
        <nav class="nav">
          <ul>
            <li><a routerLink="/employee">Dashboard</a></li>
            <li><a routerLink="/employee-practice">Practice</a></li>
            <li><a routerLink="/employee-crash-course">Crash Course</a></li> 
          </ul>
        </nav>
  </mat-toolbar> 

  <div class="recommendation-course-container">
    <h1>Recommendations</h1>

    <div class="video">
        <div class="video-container">
            <iframe class="video-iframe" src="https://www.youtube.com/embed/8hly31xKli0?si=tvSAQreO434MMpkk" allowfullscreen></iframe>
            <div class="video-info">
                <h2>Video 1: Introduction to DSA</h2>
                <p>An introductory video covering Data Structures and Algorithms.</p>
            </div>
        </div>
    </div>

    <div class="video">
        <div class="video-container">
            <iframe class="video-iframe" src="https://www.youtube.com/embed/bMknfKXIFA8?si=zaty9IbEQ272ACmZ" allowfullscreen></iframe>
            <div class="video-info">
                <h2>Video 2: React Js</h2>
                <p>A tutorial on React Js fundamentals.</p>
            </div>
        </div>
    </div>

    <div class="video">
        <div class="video-container">
            <iframe class="video-iframe" src="https://www.youtube.com/embed/8_X0nSrzrCw?si=ujJElNz_5lQSRWWH" allowfullscreen></iframe>
            <div class="video-info">
                <h2>Video 3: Learn Nest Js</h2>
                <p>Exploring Nest Js framework for backend development.</p>
            </div>
        </div>
    </div>

    <div class="video">
        <div class="video-container">
            <iframe class="video-iframe" src="https://www.youtube.com/embed/2LaAJq1lB1Q?si=JfCcxPC8u01LUG0g" allowfullscreen></iframe>
            <div class="video-info">
                <h2>Video 4: Cloud Computation</h2>
                <p>Understanding concepts related to cloud computing.</p>
            </div>
        </div>
    </div>

    <div class="video">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xk4_1vDrzzo?si=StM6sYmUczgo7345" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="video-info">
                <h2>Video 5: Java Full Course</h2>
                <p>Tutorial on Java Full Course</p>
            </div>
        </div>
    </div>
    <div class="video">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c2M-rlkkT5o?si=wlUHk32QdxL5uqe5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="video-info">
                <h2>Video 6: Mongo DB</h2>
                <p>Learn Mongo Db in an hour</p>
            </div>
        </div>
    </div>
</div>
